mat-card {
    padding: 0;
    max-width: 250px;
    margin-bottom: 32px;
}

mat-card-actions {
    padding: 0;
    button.mat-button {
        margin: 0 8px;
    }
}

@keyframes floatAway {
    0%      {opacity: 0; top: 330px; left: 20px;}
    20%     {opacity: 0.8;}
    50%     {opacity: 1;}
    80%     {opacity: 0.8;}
    100%    {opacity: 0; top: 140px; left: 70px;}
}

.float-num {
    display: inline-block;
    opacity: 0;
    position: absolute;
}

.float-num-animated {
    visibility: visible;

    height: 0px;
    z-index: 100;
    font-size: 18px;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-right: 2px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background-color: #1DB954;
    border-radius: 100%;

    animation-name: floatAway;
    animation-duration: 1.5s;
    animation-direction: e;
    animation-timing-function: ease-in;
}

@keyframes hop {
    0%      {top: 0px; transform: rotate(0deg);}
    12%     {top: -5.3px;transform: rotate(-1deg);}
    25%     {top: -9px;transform: rotate(0deg);}
    37%     {top: -11.2px;transform: rotate(1deg);}
    50%     {top: -12px;transform: rotate(0deg);}
    63%     {top: -11.2px;transform: rotate(-1deg);}
    75%     {top: -9px;transform: rotate(0deg);}
    87%     {top: -5.3px;transform: rotate(1deg);}
    100%     {top: 0px;transform: rotate(0deg);}
}

.mat-card-hop {
    animation-name: hop;
    animation-duration: 0.25s;
    animation-direction: e;
    animation-timing-function: linear;
}
