mat-card {
    padding: 0;
    max-width: 250px;
    margin-bottom: 32px;
}

mat-card-actions {
    padding: 0;
    button.mat-button {
        margin: 0 8px;
    }
}

@keyframes hop {
    0%      {top: 0px; transform: rotate(0deg);}
    12%     {top: -5.3px;transform: rotate(-1deg);}
    25%     {top: -9px;transform: rotate(0deg);}
    37%     {top: -11.2px;transform: rotate(1deg);}
    50%     {top: -12px;transform: rotate(0deg);}
    63%     {top: -11.2px;transform: rotate(-1deg);}
    75%     {top: -9px;transform: rotate(0deg);}
    87%     {top: -5.3px;transform: rotate(1deg);}
    100%     {top: 0px;transform: rotate(0deg);}
}

.mat-card-hop {
    animation-name: hop;
    animation-duration: 0.25s;
    animation-direction: e;
    animation-timing-function: linear;
}
