.song-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 64px;
    margin-right: 64px;
}

.main-container {
    // background: #F8F8F8;
}