.generated-playlist-container {
    margin: auto;
    width: 600px;
    background: white;
    height: 100vh;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -10px;
}