input {
    width: 400px;
    border-radius: 3px;
    padding: 0px 8px;
    height: 30px;
    flex-grow: 1;
    margin: auto;
    border: 1px solid #ccc;
}

// :host ::ng-deep {
//     .mat-form-field-infix {
//         border: 1px solid black;
//     }U
// }

.search-song-container {
    display: flex;
}

.example-option-img {
    vertical-align: middle;
    margin-right: 8px;
}

.search-option {
    height: 40px;
}
