<div class="search-song-container">
  <mat-form-field>
    <input 
      type="text" 
      matInput 
      [formControl]="searchControl"
      placeholder="Search song..." 
      [matAutocomplete]="auto">
    <mat-autocomplete
      #auto="matAutocomplete">
      <mat-option class="search-option"
        *ngFor="let state of filteredStates | async"
        (click)="addSong(state)"
        [value]=state.name>
        <img class="example-option-img" aria-hidden [src]="state.album.images[0].url" height="25" width="25">
        <span>{{state.name}}</span> |
        <small>{{getArtistsString(state.artists)}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<button (click)="search()">search!</button>